// THIS IS THE RESPONSIVE MEDIA QUERIES

@media (min-width: 1px)
and (max-width: 500px){

    // This is the margin wrapper
    .margin-wrapper{
        margin-left: 10px;
        margin-right: 10px;
    }

    /* ######################## NAVBAR ######################## */
    #navbar{
        width: 100%;
        top: 0;
        height: 60px;
        z-index: 10000;

        /* NAVBAR LINKS */
        #nav_links{
            margin-top: 20px;

            a{
                display: none;
                margin-right: 0px;
            }

            // TECHTALK
            .selected{
                display: block;
                font-size: 1.3em;
                font-weight: bold;
            }

            .home-link{
                font-weight: bold;
                font-size: 1.3em;
            }
        }

        /* NAVBAR SOCIAL LOGOS */
        #user-sessions{
            float: left;
            margin-top: 20px;

            a{
                margin-left: 20px;
                font-size: 0.6em;
                margin-right: 0px;
                padding: 3px;
            }

            #hamburger-menu{
                display: block;
                position: fixed;
                top: 20px;
                right: 20px;
                color: white;   
            }
        }
    }

    #navbar-links{
        display: none;
        z-index: 10000000;
        float: left;
        position: fixed;
        left: 0px;
        padding: 5px;
        text-align: center;
        width: 100%;
        top: 60px;
        background: rgba(20, 20, 20, 0.85);

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: rgb(199, 199, 199);
            border: none;
            line-height: 50px;
            padding: 5px;
        }

    }


    /* ######################## HOME IMAGE ######################## */
    #home-image{
        grid-area: home-image;
        height: 650px;
        background: url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;

        /* HOME TEXT */
        #home-text{
            position: absolute;
            left: 0%;
            top: 20%;
            transform: translate(0%,0%);
            border-radius: 2px;
            height: 200px;
            width: 100%;
            animation-name: slideText;
            animation-duration: 1s;

            @keyframes slideText {
                0%{
                    top: -30%;
                }
                100%{
                    top: 20%;
                }
            }

            h1{
                font-size: 2.5em;
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%,-50%);
            }
            h3{
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(0%,50%);
                font-size: 1.2em;
                font-weight: 400;
                text-align: center;
            }
        }

        // Text for login and register pages
        #login-text{
            position: absolute;
            left: 50%;
            top: 100px;
            transform: translate(-50%,-50%);
            border-radius: 2px;
            height: 200px;
            width: 100%;

            @keyframes slideTextLogin {
                0%{
                    top: -30%;
                }
                100%{
                    top: 100px;
                }
            }

            h1{
                font-size: 2em;
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%,-50%);
            }
            h3{
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translate(0%,50%);
                font-size: 0.9em;
                font-weight: 400;
            }
            h4{
                position: absolute;
                top: 68%;
                left: 5%;
                transform: translate(0%,50%);
                font-weight: 400;
            }
        }

        /* HOME SIGNUP SECTION */
        #home-signup{
            position: absolute;
            left: 50%;
            top: 70%;
            transform: translate(-50%,-50%);
            padding: 5px;
            color: #4776E6;
            animation-name: slideButton;
            animation-duration: 2s;

            @keyframes slideButton {
                0%{
                    top: -30%;
                }
                60%{
                    top: 75%;
                }
                100%{
                    top: 70%;
                }
            }

            button{
                @include defaultBtn;
                left: 50%;
                top: 50%;
                transform: translate(20%,-50%);
                font-size: 0.8em;
                height: 50px;
                width: 100px;

                .fa-chevron-right{
                    margin-left: 10px;
                    transition: all 0.3s;
                }
                &:hover{
                    background: rgb(18, 206, 18);
                    .fa-chevron-right{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    /* ######################## INTRO SECTION ######################## */
    #intro-section{
        margin-top: 50px;
        
        /* INTRO HEADER */
        #intro-header{
            padding: 0px;
            h4{
                font-size: 1em;
            }
        }
        
        /* INTRO HEADER */
        #intro-main{
            display: grid;
            grid-template-areas: 'tech-main'
            'game-main'
            'gadget-main'
            ;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            padding: 5px;
            height: 700px;

            img{
                height: 100%;
                width: 100%;
                filter: grayscale(0);
                transition: all 0.3s;

                &:hover{
                    filter: grayscale(2);
                }
            }

            /* TECH MAIN */
            #tech-main{
                grid-area: tech-main;
                @include categoryBox;
                margin-bottom: 20px;
                width: 100%;
            }
            /* GAMING MAIN */
            #game-main{
                grid-area: game-main;
                @include categoryBox;
                margin-bottom: 20px;
                width: 100%;
            }
            /* GADGET MAIN */
            #gadget-main{
                grid-area: gadget-main;
                @include categoryBox;
                width: 100%;
            }
        }
    }

    /* ######################## BLOG CONTENT SECTION ######################## */
    #content-main{
        padding: 5px;
        margin-top: 50px;

        /* CONTENT HEADER */
        #content-header{
            color: #cc3633;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            h2{
                font-weight: lighter;
                text-transform: uppercase;
                // color: white;
            }
        }

        /*  This is the latest articles section */
        #content-post{
            display: grid;
            grid-template-areas: 'blog-post'
            'blog-post'
            'blog-post'
            ;
            grid-template-columns: 1fr;
            height: 500px;
            width: 100%;
            display: inline-block;
            padding: 0px;

            /* BLOG POST */
            .blog-post{
                border: 1px solid rgba(62,67,98,.19);
                box-shadow: 0 4px 14px 3px rgba(0,0,0,.12);
                margin-right: 0px;
                margin-left: 0px;
                float: left;
                background: rgba(255, 255, 255, 0.952);
                
                // BLOG POST IMAGE
                #post-image{
                    height: 200px;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: all 0.3s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                // BLOG POST BODY
                #post-body{
                    padding: 5px;
                    a{
                        margin-top: 20px;
                        color: #4776E6;
                        cursor: pointer;
                        text-decoration: underline;
                        text-decoration-color: transparent;
                        transition: all 0.2s;
                        &:hover{
                            text-decoration-color: #4776E6;
                        }
                    }
                    h5{
                        color: grey;
                        font-weight: lighter;
                        margin-top: 40px;
                        font-size: 1em;
                    }
                    p{
                        margin-top: 10px;
                        font-size: 0.8em;
                    }
                }
            }
        }

        /* ########################### This is the section articles section ################################### */
        #content-header2{
            color: #cc3633;
            // color: white;
            margin-top: 100px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            h2{
                font-weight: lighter;
                text-transform: uppercase;
            }
        }

        // BLOG CONTENT MAIN
        #blog-content{
            display: grid;
            grid-template-areas: 'blog-img'
            'blog-body'
            ;
            grid-template-columns:1fr;
            grid-gap: 0px;
            height: 550px;
            border-bottom: 1px solid #ddd;
            color: #393a3b;
            margin-bottom: 20px;
            padding: 5px;
            box-shadow: 0 4px 10px 2px rgba(0,0,0,.12);
            transition: all 0.3s;
            background: rgba(255, 255, 255, 0.952);

            &:hover{
                box-shadow: 0 4px 14px 5px rgba(0,0,0,.12);
            }


            // BLOG IMAGE
            #blog-img{
                grid-area: blog-img;
                overflow: hidden;
                img{
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }

            // BLOG BODY
            #blog-body{
                grid-area: blog-body;
                @include contentBody;
                h2{
                    margin-top: 10px;
                }
            }
            
        }

        // BLOG CONTENT WITHOUT AN IMAGE
        #blog-content-only{
            display: grid;
            grid-template-areas: 'blog-body-only'
            ;
            grid-template-columns: 1fr;
            height: 250px;
            color: #393a3b;
            background: rgba(255, 255, 255, 0.76);
            padding: 5px;

            // BLOG CONTENT ONLY (NO IMAGE)
            #blog-body-only{
                grid-area: blog-body-only;
                @include contentBody;
                h4{
                    margin-top: 10px;
                    font-weight: lighter;
                    word-spacing: 2px;
                }
            }    
        }

        // READ MORE BUTTON
        .readmore-btn{
            border: none;
            outline: none;
            background: transparent;
            color: black;
            border: 2px solid #555555;
            padding: 8px 16px;
            cursor: pointer;
            margin-top: 15px;
            transition: all 0.4s;
            &:hover{
                background-color: #555555;
                color: white;
            }
        }
    }
    // ######################## THIS IS THE FOOTER ########################
    #footer{
        grid-area: footer;
        margin-top: 80px;
        height: 700px;

        // FOOTER MAIN GRID
        #footer-main{
            display: grid;
            grid-template-areas: 'footer-section'
            'footer-form'
            ;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            padding: 5px;

            h3{
                margin-top: 10px;
                color: white;
            }

            // FOOTER SECTION WITH THE CONTACT DETAILS
            #footer-section{
                grid-area: footer-section;
                height: 275px;
                
                // PHONE MAIN BOX
                .phone-box{
                    @include contactMain();
                    width: 100%;

                    #phone-logo{
                        @include contactLogo();
                    }
                    #phone-text{
                        @include contactText();
                    }
                }

                // EMAIL MAIN BOX
                .email-box{
                    @include contactMain();
                    width: 100%;

                    #email-logo{
                        @include contactLogo();
                    }
                    #email-text{
                        @include contactText();
                    }
                }

                // LOCATION MAIN BOX
                .location-box{
                    @include contactMain();
                    width: 100%;
                    height: 50px;

                    #location-logo{
                        @include contactLogo();
                        width: 12%;
                        height: 50px;
                    }
                    #location-text{
                        @include contactText();
                        width: 80%;
                        margin-top: 5px;
                    }
                }
            }

            // FOOTER FORM
            #footer-form{
                grid-area: footer-form;
                height: 275px;
                margin-top: 40px;

                // THE FORM
                form{
                    margin-top: 20px;
                    input, textarea{
                        margin-top: 10px;
                        padding: 5px;
                        border: 1px solid rgb(202, 197, 197);
                        border-radius: 3px;
                        outline: none;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.9em;
                        margin-right: 0px;
                        width: 200px;
                    }
                    textarea{
                        height: 100px;
                        resize: none;
                    }
                    
                    button{
                        @include defaultBtn();
                        margin-left: 5%;

                        .fa-chevron-right{
                            margin-left: 10px;
                            transition: all 0.3s;
                        }
                        &:hover{
                            background: rgb(18, 206, 18);
                            .fa-chevron-right{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ######################### SINGLE BLOG POST PAGE ######################### */
    #blog-post-single{
        margin-top: 100px;
        padding: 10px;

        // SINGLE BLOG POST HEADER
        #single-post-header{
            h2{
                margin-top: 20px;
                font-size: 1.5em;
            }
            p{
                font-size: 1em;
                margin-top: 10px;
            }
        }
        // MARGIN FOR THE BLOG POST CONTENT
        .content-margin{
            margin-left: 10px;
            margin-right: 10px;

            // IMAGE ON SINGLE BLOG POST IMAGE PROPERTIES
            #single-post-image{
                margin-top: 30px;
                img{
                    width: 100%;
                    height: 50%;
                }
            }
            // SINGLE BLOG POST BODY
            #single-post-body{
                margin-top: 30px;
                h4{
                    font-size: 1.2em;
                }
            }
        }
    }

    /* ############################# FORM STYLING ############################# */
    #myForm{
        padding: 5px;
        margin-top: 100px;

        h1{
            color: rgb(221, 221, 221);
        }

        form{
            margin-left: 0px;
            margin-top: 0px;

            input, select{
                margin-top: 15px;
                margin-bottom: 30px;
                padding: 10px;
                width: 220px;
                border-radius: 5px;
                font-size: 0.9em;
            }
            label{
                margin-top: 30px;
            }
            select{
                width: 220px;
            }
            textarea{
                color: black;
            }
        }
    }

    .login-form{
        @include loginForm();
        p{
            font-size: 0.9em;
        }
        a{
            color: rgb(18, 206, 18);
            
        }
    }

    // This the register form
    .register-form{
        @include loginForm();
        margin-bottom: 50px;
        top: 450px;
        a{
            color: rgb(18, 206, 18);
        }
    }

}

@media (min-width: 321px)
and (max-width: 376px){

    /* ######################## NAVBAR ######################## */
    #navbar{

        /* NAVBAR SOCIAL LOGOS */
        #user-sessions{
            a{
                margin-left: 20px;
                font-size: 0.6em;
                margin-right: 0px;
                padding: 7px;
            }

            #hamburger-menu{
                display: block;
                position: fixed;
                top: 20px;
                right: 20px;
                color: white;   
            }
        }
    }

    // ######################## THIS IS THE FOOTER ########################
    #footer{
        // FOOTER MAIN GRID
        #footer-main{

            // FOOTER FORM
            #footer-form{

                // THE FORM
                form{
                    input, textarea{
                        width: 290px;
                    }
                }
            }
        }
    }

    /* ############################# FORM STYLING ############################# */
    #myForm{
        padding: 5px;
        margin-top: 100px;

        h1{
            color: rgb(221, 221, 221);
        }

        form{
            margin-left: 0px;
            margin-top: 0px;

            input, select{
                margin-top: 15px;
                margin-bottom: 30px;
                padding: 10px;
                width: 300px;
                border-radius: 5px;
                font-size: 0.9em;
            }
        }
    }

}


@media (min-width: 377px)
and (max-width: 500px){

    /* ######################## NAVBAR ######################## */
    #navbar{

        /* NAVBAR SOCIAL LOGOS */
        #user-sessions{
            a{
                margin-left: 40px;
                font-size: 0.6em;
                margin-right: 0px;
                padding: 10px;
            }

            #hamburger-menu{
                display: block;
                position: fixed;
                top: 20px;
                right: 20px;
                color: white;   
            }
        }
    }

    // ######################## THIS IS THE FOOTER ########################
    #footer{
        // FOOTER MAIN GRID
        #footer-main{

            // FOOTER FORM
            #footer-form{

                // THE FORM
                form{
                    input, textarea{
                        font-size: 1.1em;
                        width: 350px;
                    }
                }
            }
        }
    }

    /* ############################# FORM STYLING ############################# */
    #myForm{
        padding: 5px;
        margin-top: 100px;

        h1{
            color: rgb(221, 221, 221);
        }

        form{
            margin-left: 0px;
            margin-top: 0px;

            input, select{
                margin-top: 15px;
                margin-bottom: 30px;
                padding: 10px;
                width: 350px;
                border-radius: 5px;
                font-size: 0.9em;
            }
        }
    }

}

@media (min-width:501px)
and (max-width: 600px) {

    // This is the margin wrapper
    .margin-wrapper{
        margin-left: 50px;
        margin-right: 50px;
    }

    /* ######################## NAVBAR ######################## */
    #navbar{
        width: 100%;
        top: 0;
        height: 60px;
        z-index: 10000;

        /* NAVBAR LINKS */
        #nav_links{
            margin-top: 20px;

            a{
                display: none;
                margin-right: 0px;
            }

            // TECHTALK
            .selected{
                display: block;
                font-size: 1.3em;
                font-weight: bold;
            }

            .home-link{
                font-weight: bold;
                font-size: 1.3em;
            }
        }

        /* NAVBAR SOCIAL LOGOS */
        #user-sessions{
            float: right;
            margin-top: 20px;

            a{
                margin-left: 0px;
                font-size: 0.8em;
                margin-right: 20px;
                padding: 8px;
            }

            #hamburger-menu{
                display: block;
                position: fixed;
                top: 20px;
                right: 20px;
                color: white;   
            }
        }
    }

    #navbar-links{
        display: none;
        z-index: 10000000;
        float: left;
        position: fixed;
        left: 0px;
        padding: 5px;
        text-align: center;
        width: 100%;
        top: 60px;
        background: rgba(20, 20, 20, 0.85);

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: rgb(199, 199, 199);
            border: none;
            line-height: 50px;
            padding: 5px;
        }

    }


    /* ######################## HOME IMAGE ######################## */
    #home-image{
        grid-area: home-image;
        height: 650px;
        background: url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;

        /* HOME TEXT */
        #home-text{
            position: absolute;
            left: 0%;
            top: 20%;
            transform: translate(0%,0%);
            border-radius: 2px;
            height: 200px;
            width: 100%;
            animation-name: slideText;
            animation-duration: 1s;

            @keyframes slideText {
                0%{
                    top: -30%;
                }
                100%{
                    top: 20%;
                }
            }

            h1{
                font-size: 2.5em;
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%,-50%);
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,50%);
                font-size: 1.2em;
                font-weight: 400;
                text-align: center;
            }
        }

        // Text for login and register pages
        #login-text{
            position: absolute;
            left: 50%;
            top: 100px;
            transform: translate(-50%,-50%);
            border-radius: 2px;
            height: 200px;
            width: 100%;

            @keyframes slideTextLogin {
                0%{
                    top: -30%;
                }
                100%{
                    top: 100px;
                }
            }

            h1{
                font-size: 2em;
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%,-50%);
            }
            h3{
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translate(0%,50%);
                font-size: 0.9em;
                font-weight: 400;
            }
            h4{
                position: absolute;
                top: 68%;
                left: 5%;
                transform: translate(0%,50%);
                font-weight: 400;
            }
        }

        /* HOME SIGNUP SECTION */
        #home-signup{
            position: absolute;
            left: 60%;
            top: 70%;
            transform: translate(-50%,-50%);
            padding: 5px;
            color: #4776E6;
            animation-name: slideButton;
            animation-duration: 2s;

            @keyframes slideButton {
                0%{
                    top: -30%;
                }
                60%{
                    top: 75%;
                }
                100%{
                    top: 70%;
                }
            }

            button{
                @include defaultBtn;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-size: 1em;
                height: 50px;
                width: 100px;

                .fa-chevron-right{
                    margin-left: 10px;
                    transition: all 0.3s;
                }
                &:hover{
                    background: rgb(18, 206, 18);
                    .fa-chevron-right{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    /* ######################## INTRO SECTION ######################## */
    #intro-section{
        margin-top: 50px;
        
        /* INTRO HEADER */
        #intro-header{
            padding: 0px;
            h4{
                font-size: 1em;
            }
        }
        
        /* INTRO HEADER */
        #intro-main{
            display: grid;
            grid-template-areas: 'tech-main'
            'game-main'
            'gadget-main'
            ;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            padding: 5px;
            height: 700px;

            img{
                height: 100%;
                width: 100%;
                filter: grayscale(0);
                transition: all 0.3s;

                &:hover{
                    filter: grayscale(2);
                }
            }

            /* TECH MAIN */
            #tech-main{
                grid-area: tech-main;
                @include categoryBox;
                margin-bottom: 20px;
                width: 100%;
            }
            /* GAMING MAIN */
            #game-main{
                grid-area: game-main;
                @include categoryBox;
                margin-bottom: 20px;
                width: 100%;
            }
            /* GADGET MAIN */
            #gadget-main{
                grid-area: gadget-main;
                @include categoryBox;
                width: 100%;
            }
        }
    }

    /* ######################## BLOG CONTENT SECTION ######################## */
    #content-main{
        padding: 5px;
        margin-top: 50px;

        /* CONTENT HEADER */
        #content-header{
            color: #cc3633;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            h2{
                font-weight: lighter;
                text-transform: uppercase;
                // color: white;
            }
        }

        /*  This is the latest articles section */
        #content-post{
            display: grid;
            grid-template-areas: 'blog-post'
            'blog-post'
            'blog-post'
            ;
            grid-template-columns: 1fr;
            height: 500px;
            width: 100%;
            display: inline-block;
            padding: 0px;

            /* BLOG POST */
            .blog-post{
                border: 1px solid rgba(62,67,98,.19);
                box-shadow: 0 4px 14px 3px rgba(0,0,0,.12);
                margin-right: 0px;
                margin-left: 0px;
                float: left;
                background: rgba(255, 255, 255, 0.952);
                
                // BLOG POST IMAGE
                #post-image{
                    height: 200px;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: all 0.3s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                // BLOG POST BODY
                #post-body{
                    padding: 5px;
                    a{
                        margin-top: 20px;
                        color: #4776E6;
                        cursor: pointer;
                        text-decoration: underline;
                        text-decoration-color: transparent;
                        transition: all 0.2s;
                        &:hover{
                            text-decoration-color: #4776E6;
                        }
                    }
                    h5{
                        color: grey;
                        font-weight: lighter;
                        margin-top: 40px;
                        font-size: 1em;
                    }
                    p{
                        margin-top: 10px;
                        font-size: 0.8em;
                    }
                }
            }
        }

        /* ########################### This is the section articles section ################################### */
        #content-header2{
            color: #cc3633;
            // color: white;
            margin-top: 100px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            h2{
                font-weight: lighter;
                text-transform: uppercase;
            }
        }

        // BLOG CONTENT MAIN
        #blog-content{
            display: grid;
            grid-template-areas: 'blog-img'
            'blog-body'
            ;
            grid-template-columns:1fr;
            grid-gap: 0px;
            height: 550px;
            border-bottom: 1px solid #ddd;
            color: #393a3b;
            margin-bottom: 20px;
            padding: 5px;
            box-shadow: 0 4px 10px 2px rgba(0,0,0,.12);
            transition: all 0.3s;
            background: rgba(255, 255, 255, 0.952);

            &:hover{
                box-shadow: 0 4px 14px 5px rgba(0,0,0,.12);
            }


            // BLOG IMAGE
            #blog-img{
                grid-area: blog-img;
                overflow: hidden;
                img{
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }

            // BLOG BODY
            #blog-body{
                grid-area: blog-body;
                @include contentBody;
                h2{
                    margin-top: 10px;
                }
            }
            
        }

        // BLOG CONTENT WITHOUT AN IMAGE
        #blog-content-only{
            display: grid;
            grid-template-areas: 'blog-body-only'
            ;
            grid-template-columns: 1fr;
            height: 250px;
            color: #393a3b;
            background: rgba(255, 255, 255, 0.76);
            padding: 5px;

            // BLOG CONTENT ONLY (NO IMAGE)
            #blog-body-only{
                grid-area: blog-body-only;
                @include contentBody;
                h4{
                    margin-top: 10px;
                    font-weight: lighter;
                    word-spacing: 2px;
                }
            }    
        }

        // READ MORE BUTTON
        .readmore-btn{
            border: none;
            outline: none;
            background: transparent;
            color: black;
            border: 2px solid #555555;
            padding: 8px 16px;
            cursor: pointer;
            margin-top: 15px;
            transition: all 0.4s;
            &:hover{
                background-color: #555555;
                color: white;
            }
        }
    }

    // ######################## THIS IS THE FOOTER ########################
    #footer{
        grid-area: footer;
        margin-top: 80px;
        height: 700px;

        // FOOTER MAIN GRID
        #footer-main{
            display: grid;
            grid-template-areas: 'footer-section'
            'footer-form'
            ;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            padding: 5px;

            h3{
                margin-top: 10px;
                color: white;
            }

            // FOOTER SECTION WITH THE CONTACT DETAILS
            #footer-section{
                grid-area: footer-section;
                height: 275px;
                
                // PHONE MAIN BOX
                .phone-box{
                    @include contactMain();
                    width: 100%;

                    #phone-logo{
                        @include contactLogo();
                    }
                    #phone-text{
                        @include contactText();
                    }
                }

                // EMAIL MAIN BOX
                .email-box{
                    @include contactMain();
                    width: 100%;

                    #email-logo{
                        @include contactLogo();
                    }
                    #email-text{
                        @include contactText();
                    }
                }

                // LOCATION MAIN BOX
                .location-box{
                    @include contactMain();
                    width: 100%;
                    height: 50px;

                    #location-logo{
                        @include contactLogo();
                        width: 12%;
                        height: 50px;
                    }
                    #location-text{
                        @include contactText();
                        width: 80%;
                        margin-top: 5px;
                    }
                }
            }

            // FOOTER FORM
            #footer-form{
                grid-area: footer-form;
                height: 275px;
                margin-top: 40px;

                // THE FORM
                form{
                    margin-top: 20px;
                    input, textarea{
                        margin-top: 10px;
                        padding: 5px;
                        border: 1px solid rgb(202, 197, 197);
                        border-radius: 3px;
                        outline: none;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.9em;
                        margin-right: 0px;
                        width: 400px;
                    }
                    textarea{
                        height: 100px;
                        resize: none;
                    }
                    
                    button{
                        @include defaultBtn();
                        margin-left: 5%;

                        .fa-chevron-right{
                            margin-left: 10px;
                            transition: all 0.3s;
                        }
                        &:hover{
                            background: rgb(18, 206, 18);
                            .fa-chevron-right{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ######################### SINGLE BLOG POST PAGE ######################### */
    #blog-post-single{
        margin-top: 100px;
        padding: 10px;

        // SINGLE BLOG POST HEADER
        #single-post-header{
            h2{
                margin-top: 20px;
                font-size: 1.5em;
            }
            p{
                font-size: 1em;
                margin-top: 10px;
            }
        }
        // MARGIN FOR THE BLOG POST CONTENT
        .content-margin{
            margin-left: 10px;
            margin-right: 10px;

            // IMAGE ON SINGLE BLOG POST IMAGE PROPERTIES
            #single-post-image{
                margin-top: 30px;
                img{
                    width: 100%;
                    height: 50%;
                }
            }
            // SINGLE BLOG POST BODY
            #single-post-body{
                margin-top: 30px;
                h4{
                    font-size: 1.2em;
                }
            }
        }
    }

    /* ############################# FORM STYLING ############################# */
    #myForm{
        padding: 5px;
        margin-top: 100px;

        h1{
            color: rgb(221, 221, 221);
        }

        form{
            margin-left: 0px;
            margin-top: 0px;

            input, select{
                margin-top: 15px;
                margin-bottom: 30px;
                padding: 10px;
                width: 400px;
                border-radius: 5px;
                font-size: 0.9em;
            }
            label{
                margin-top: 30px;
            }
            select{
                width: 400px;
            }
            textarea{
                color: black;
            }
        }
    }

    .login-form{
        @include loginForm();
        p{
            font-size: 0.9em;
        }
        a{
            color: rgb(18, 206, 18);
            
        }
    }

    // This the register form
    .register-form{
        @include loginForm();
        margin-bottom: 50px;
        top: 450px;
        a{
            color: rgb(18, 206, 18);
        }
    }
}

@media (min-width: 601px)
and (max-width: 800px) {

 // This is the margin wrapper
    .margin-wrapper{
        margin-left: 50px;
        margin-right: 50px;
    }

    /* ######################## NAVBAR ######################## */
    #navbar{
        width: 100%;
        top: 0;
        height: 60px;
        z-index: 10000;

        /* NAVBAR LINKS */
        #nav_links{
            margin-top: 20px;

            a{
                display: inline-block;
                margin-right: 20px;
            }

            // TECHTALK
            .selected{
                display: inline-block;
                font-size: 1.5em;
                font-weight: bold;
            }

            .home-link{
                font-weight: bold;
                font-size: 1.5em;
            }
        }

        /* NAVBAR SOCIAL LOGOS */
        #user-sessions{
            float: right;
            margin-top: 20px;

            a{
                margin-left: 20px;
                font-size: 0.8em;
                margin-right: 0px;
                padding: 5px;
            }

            #hamburger-menu{
                display: none;
            }
        }
    }

    /* ######################## INTRO SECTION ######################## */
    #intro-section{
        margin-top: 50px;
        
        /* INTRO HEADER */
        #intro-header{
            padding: 5px;
            h4{
                font-size: 1.4em;
            }
        }
        
        /* INTRO HEADER */
        #intro-main{
            display: grid;
            grid-template-areas: 'tech-main game-main gadget-main'
            ;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            padding: 5px;
            height: 200px;

            img{
                height: 100%;
                width: 100%;
                filter: grayscale(0);
                transition: all 0.3s;

                &:hover{
                    filter: grayscale(2);
                }
            }

            /* TECH MAIN */
            #tech-main{
                grid-area: tech-main;
                @include categoryBox;
                margin-bottom: 0px;
                width: 100%;
            }
            /* GAMING MAIN */
            #game-main{
                grid-area: game-main;
                @include categoryBox;
                margin-bottom: 0px;
                width: 100%;
            }
            /* GADGET MAIN */
            #gadget-main{
                grid-area: gadget-main;
                @include categoryBox;
                width: 100%;
            }
        }
    }

     /* ######################## BLOG CONTENT SECTION ######################## */
     #content-main{
        padding: 5px;
        margin-top: 50px;


        /* CONTENT HEADER */
        #content-header{
            color: #cc3633;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            h2{
                font-weight: lighter;
                text-transform: uppercase;
                // color: white;
            }
        }

        /*  This is the latest articles section */
        #content-post{
            display: grid;
            grid-template-areas: 'blog-post'
            ;
            grid-template-columns: 1fr;
            height: 500px;
            width: 100%;
            display: inline-block;
            padding: 0px;

            /* BLOG POST */
            .blog-post{
                border: 1px solid rgba(62,67,98,.19);
                box-shadow: 0 4px 14px 3px rgba(0,0,0,.12);
                margin-right: 0px;
                margin-left: 0px;
                float: left;
                background: rgba(255, 255, 255, 0.952);
                
                // BLOG POST IMAGE
                #post-image{
                    height: 300px;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: all 0.3s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                // BLOG POST BODY
                #post-body{
                    padding: 5px;
                    a{
                        margin-top: 20px;
                        color: #4776E6;
                        cursor: pointer;
                        text-decoration: underline;
                        text-decoration-color: transparent;
                        transition: all 0.2s;
                        &:hover{
                            text-decoration-color: #4776E6;
                        }
                    }
                    h5{
                        color: grey;
                        font-weight: lighter;
                        margin-top: 40px;
                        font-size: 1em;
                    }
                    p{
                        margin-top: 10px;
                        font-size: 0.8em;
                    }
                }
            }
        }

        /* ########################### This is the section articles section ################################### */
        #content-header2{
            color: #cc3633;
            // color: white;
            margin-top: 100px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            h2{
                font-weight: lighter;
                text-transform: uppercase;
            }
        }

        // BLOG CONTENT MAIN
        #blog-content{
            display: grid;
            grid-template-areas: 'blog-img'
            'blog-body'
            ;
            grid-template-columns:1fr;
            grid-gap: 0px;
            height: 550px;
            border-bottom: 1px solid #ddd;
            color: #393a3b;
            margin-bottom: 20px;
            padding: 5px;
            box-shadow: 0 4px 10px 2px rgba(0,0,0,.12);
            transition: all 0.3s;
            background: rgba(255, 255, 255, 0.952);

            &:hover{
                box-shadow: 0 4px 14px 5px rgba(0,0,0,.12);
            }


            // BLOG IMAGE
            #blog-img{
                grid-area: blog-img;
                overflow: hidden;
                img{
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }

            // BLOG BODY
            #blog-body{
                grid-area: blog-body;
                @include contentBody;
                h2{
                    margin-top: 10px;
                }
            }
            
        }

        // BLOG CONTENT WITHOUT AN IMAGE
        #blog-content-only{
            display: grid;
            grid-template-areas: 'blog-body-only'
            ;
            grid-template-columns: 1fr;
            height: 250px;
            color: #393a3b;
            background: rgba(255, 255, 255, 0.76);
            padding: 5px;

            // BLOG CONTENT ONLY (NO IMAGE)
            #blog-body-only{
                grid-area: blog-body-only;
                @include contentBody;
                h4{
                    margin-top: 10px;
                    font-weight: lighter;
                    word-spacing: 2px;
                }
            }    
        }

        // READ MORE BUTTON
        .readmore-btn{
            border: none;
            outline: none;
            background: transparent;
            color: black;
            border: 2px solid #555555;
            padding: 8px 16px;
            cursor: pointer;
            margin-top: 15px;
            transition: all 0.4s;
            &:hover{
                background-color: #555555;
                color: white;
            }
        }
    }

     // ######################## THIS IS THE FOOTER ########################
     #footer{
        grid-area: footer;
        margin-top: 80px;
        height: 700px;

        // FOOTER MAIN GRID
        #footer-main{
            display: grid;
            grid-template-areas: 'footer-section'
            'footer-form'
            ;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            padding: 5px;

            h3{
                margin-top: 10px;
                color: white;
            }

            // FOOTER SECTION WITH THE CONTACT DETAILS
            #footer-section{
                grid-area: footer-section;
                height: 275px;
                
                // PHONE MAIN BOX
                .phone-box{
                    @include contactMain();
                    width: 100%;

                    #phone-logo{
                        @include contactLogo();
                    }
                    #phone-text{
                        @include contactText();
                    }
                }

                // EMAIL MAIN BOX
                .email-box{
                    @include contactMain();
                    width: 100%;

                    #email-logo{
                        @include contactLogo();
                    }
                    #email-text{
                        @include contactText();
                    }
                }

                // LOCATION MAIN BOX
                .location-box{
                    @include contactMain();
                    width: 100%;
                    height: 50px;

                    #location-logo{
                        @include contactLogo();
                        width: 8%;
                        height: 50px;
                    }
                    #location-text{
                        @include contactText();
                        width: 80%;
                        margin-top: 5px;
                    }
                }
            }

            // FOOTER FORM
            #footer-form{
                grid-area: footer-form;
                height: 275px;
                margin-top: 40px;

                // THE FORM
                form{
                    margin-top: 20px;
                    input, textarea{
                        margin-top: 10px;
                        padding: 5px;
                        border: 1px solid rgb(202, 197, 197);
                        border-radius: 3px;
                        outline: none;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.9em;
                        margin-right: 0px;
                        width: 600px;
                    }
                    textarea{
                        height: 100px;
                        resize: none;
                    }
                    
                    button{
                        @include defaultBtn();
                        margin-left: 5%;

                        .fa-chevron-right{
                            margin-left: 10px;
                            transition: all 0.3s;
                        }
                        &:hover{
                            background: rgb(18, 206, 18);
                            .fa-chevron-right{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ######################### SINGLE BLOG POST PAGE ######################### */
    #blog-post-single{
        margin-top: 100px;
        padding: 10px;

        // SINGLE BLOG POST HEADER
        #single-post-header{
            h2{
                margin-top: 20px;
                font-size: 1.5em;
            }
            p{
                font-size: 1em;
                margin-top: 10px;
            }
        }
        // MARGIN FOR THE BLOG POST CONTENT
        .content-margin{
            margin-left: 10px;
            margin-right: 10px;

            // IMAGE ON SINGLE BLOG POST IMAGE PROPERTIES
            #single-post-image{
                margin-top: 30px;
                img{
                    width: 100%;
                    height: 50%;
                }
            }
            // SINGLE BLOG POST BODY
            #single-post-body{
                margin-top: 30px;
                h4{
                    font-size: 1.2em;
                }
            }
        }
    }

    /* ############################# FORM STYLING ############################# */
    #myForm{
        padding: 5px;
        margin-top: 100px;

        h1{
            color: rgb(221, 221, 221);
        }

        form{
            margin-left: 0px;
            margin-top: 0px;

            input, select{
                margin-top: 15px;
                margin-bottom: 30px;
                padding: 10px;
                width: 600px;
                border-radius: 5px;
                font-size: 0.9em;
            }
            label{
                margin-top: 30px;
            }
            select{
                width: 600px;
            }
            textarea{
                color: black;
            }
        }
    }

    .login-form{
        @include loginForm();
        p{
            font-size: 0.9em;
        }
        a{
            color: rgb(18, 206, 18);
            
        }
    }

    // This the register form
    .register-form{
        @include loginForm();
        margin-bottom: 50px;
        top: 450px;
        a{
            color: rgb(18, 206, 18);
        }
    }
}